.well.span2
  %p
    %strong Name
    %br
      ="#{f.surname}, #{f.first_name}"
  %p
    %strong Sex 
    %br
      =f.sex      
  %p
    %strong Age 
    %br
      =f.age
  %p
    %strong Known to complainant? 
    %br
      =f.known_to_complainant 
  %p
    %strong Relation 
    %br
      =f.relation
