- @model_class = CaseDetail

.well.pull-right
  %h3= @model_class.human_attribute_name(:status) + ':' + @case_detail.status.name if @case_detail.status.present?
.cf  

%ul.nav.nav-tabs
  %li.active
    %a{href:"#Background", data:{toggle:"tab"}} Background
  %li
    %a{href:"#Complainant", data:{toggle:"tab"}} Complainant(s)
  %li
    %a{href:"#Accused", data:{toggle:"tab"}} Accused(s)
  %li
    %a{href:"#Court_Ruling", data:{toggle:"tab"}} Court Ruling
  %li
    %a{href:"#Attachments", data:{toggle:"tab"}} Attachment(s)

.tab-content
  #Background.tab-pane.active

    =render 'background'

  #Complainant.tab-pane
    %h3 Complainant(s)
    -@case_detail.complainants.each do |c|
      =render 'complainants', f:c

  #Accused.tab-pane
    %h3 Accused(s)
    -@case_detail.accuseds.each do |a|
      =render 'accuseds', f:a

  #Court_Ruling.tab-pane
    =render 'court_ruling'
  #Attachments.tab-pane
    %h3 Attachment(s)
    -@case_detail.attachments.each do |attachment|
      =render 'attachments', f:attachment
      

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), case_details_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_case_detail_path(@case_detail), :class => 'btn'
  = link_to "Delete", case_detail_path(@case_detail), :method=>:delete, :confirm=>"Are you sure?", :class=>"btn btn-danger" if current_user.has_role? :admin
  
 
-content_for :sidebar do
  -if @case_detail.appeal
    =link_to "View Appeal", appeal_path(@case_detail.appeal), :class => "btn btn-primary btn-large"


