!!!
%html{'xmlns' => "http://www.w3.org/1999/xhtml",'xml:lang' => "en"}

  %body
    %table
      %thead
        %th
          %h2 Weekly Report for the DPP's Case Management System
      %tbody
        %tr
          %th Status Breakdown
        -@status.each do |s|
          %tr
            %td=s[0]
            %th=s[1]
        %tr
          %th Charges Breakdown
        -@charges.each do |c|
          %tr
            %td=c[0]
            %td=c[1]
