#cases
  %h2#month
    =link_to "<", date: @date.prev_month
    =@date.strftime("%B %Y")
    =link_to ">", date: @date.next_month
  
  =calendar @date do |date|
    -unless date.saturday? || date.sunday?
      %span
        =link_to "+",new_case_detail_path(date_reported: date), class: "btn btn-mini"
      
    =date.day
    -if @cases_by_date[date]
      .cf
      %ul
        -@cases_by_date[date].each do |cased|
          = link_to  cased, class: "btn btn-mini btn-#{cased.get_status_highlight}" do
            %li= cased.court_case_number
    